In [3]:
# Install a pip package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Collecting numpy
  Downloading numpy-1.18.4-cp38-cp38-manylinux1_x86_64.whl (20.7 MB)
     |████████████████████████████████| 20.7 MB 3.7 MB/s eta 0:00:01    |█████████                       | 5.8 MB 3.4 MB/s eta 0:00:05     |███████████████████████▊        | 15.3 MB 3.7 MB/s eta 0:00:02
Installing collected packages: numpy
  WARNING: The scripts f2py, f2py3 and f2py3.8 are installed in '/home/lesh/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.18.4

In [19]:
%ls

 f2py*         jupyter-bundlerextension*   jupyter-serverextension*
 f2py3*        jupyter-kernel*             jupyter-troubleshoot*
 f2py3.8*      jupyter-kernelspec*         jupyter-trust*
 iptest*       jupyter-lab*               'purchase order pull.xls'
 iptest3*      jupyter-labextension*       purchase_order_pull.xls
 ipython*      jupyter-migrate*            __pycache__/
 ipython3*     jupyter-nbconvert*          pyjson5*
 jlpm*         jupyter-nbextension*        runxlrd.py*
 jsonschema*   jupyter-notebook*           Untitled.ipynb
 jupyter*      jupyter-run*

In [4]:
!{sys.executable} -m pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-1.0.4-cp38-cp38-manylinux1_x86_64.whl (10.0 MB)
     |████████████████████████████████| 10.0 MB 8.5 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.13.3 in /home/lesh/.local/lib/python3.8/site-packages (from pandas) (1.18.4)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Installing collected packages: pandas
Successfully installed pandas-1.0.4

In [6]:
!{sys.executable} -m pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Collecting xlrd
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 145 kB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0

In [2]:
import pandas as pd
import numpy as np

def orders():
    df = pd.read_excel(r"purchase_order_pull_clean.xls")
    include = ['Total', 'Deliver To']
    return df[include].groupby(['Deliver To']).sum().sort_values(['Total'], ascending=[False])
orders()

                           Total
Deliver To
DFW2                 10182497.74
Packet Headquarters   6280678.43
Readystock Dell       3266110.66
SJC                   3039551.85
EWR                   2906460.27
SMC Readystock        2493500.00
NY5                   2450392.69
SV15                  2012710.39
DC13                  2010461.86
AMS                   1050117.47
IAD2                   769679.10
ORD4                   556752.98
SIN3                   510553.98
FR2                    491405.39
NRT                    487300.90
PHX1                   481937.21
ATL2                   451984.98
SG1                    441392.15
AM6                    437304.94
SEA2                   395242.34
LAX2                   392766.86
PIT1                   392295.40
GSP1                   352489.97
IAH1                   344206.16
MCI1                   341337.35
DFW0                   165360.10
DTW                    151011.96
ASRock Taiwan HQ        81416.05
SIN2                    78472.61
ATL1                    46342.00
LAX                     46089.67
SEA1                    18700.00
SYD2                    16004.47
SG3                     13164.89
Packet Palo Alto         7386.36
DFW1                     2963.75
FRA2                     2464.00
Scott Burns               395.00

In [33]:
def dfw_year():
    df = pd.read_excel(r"purchase_order_pull_clean_dates.xls")
    include2 = ['Order Date', 'Total', 'Deliver To']
    df_dfw = df[include2].groupby(['Deliver To']).get_group('DFW2')
    df_dfw['Order Date'] = pd.to_datetime(df_dfw['Order Date'], format='%Y-%m-%d %I-%p')
    df_dfw.set_index('Order Date', inplace=True)
    #return df_dfw #.loc[22, 'Order Date'].day_name()
    df_dfw = df_dfw.resample('M').sum()
    df_dfw['Monthy % Change'] = df_dfw.pct_change()
    return df_dfw
dfw_year()

                 Total  Monthy % Change
Order Date
2019-01-31   383558.60              NaN
2019-02-28   189191.80        -0.506746
2019-03-31   957104.32         4.058910
2019-04-30   132441.30        -0.861623
2019-05-31    25502.96        -0.807440
2019-06-30   149666.27         4.868584
2019-07-31   613190.00         3.097049
2019-08-31   385469.32        -0.371371
2019-09-30   221688.65        -0.424886
2019-10-31   222312.14         0.002812
2019-11-30   463161.98         1.083386
2019-12-31   772833.74         0.668604
2020-01-31   311928.95        -0.596383
2020-02-29        0.00        -1.000000
2020-03-31  4449897.98              inf
2020-04-30   398371.20        -0.910476
2020-05-31   506178.53         0.270620